.user-container {
  max-width: 1800px;
  display: flex;
  margin: auto;
  margin-top: 5rem;
  justify-content: center;
}

@media (max-width: 2000px) {
    .user-container {
      max-width: 90%;
    }
}

.user-image-container {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-right: 5rem;
}

.user-record-container {
  padding: 1rem;
  width: 80%;
  height: 80%;
}

.match-history-container {
  width: 100%;
  height: 100%;
}

.user-image {
  max-width: 256px;
  max-height: 256px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
}

.app-font {
  font-family: AppFont;
  color: white;
}

.font-3rem {
  font-size: 3rem;
}

.font-2rem {
  font-size: 2rem;
}

.font-1rem {
  font-size: 1rem;
}

.page-button {
  background-color: transparent;
  border: 1px solid white;
  padding: .5em;
  border-radius: 10px;
}

button:hover {
  border: 1px solid #1E90FF;
  color: #1E90FF;
}

button:active {
  transform: scale(0.80);
}

.page-buttons-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}
