<div class="user-container">
  <div class="user-image-container">
    <h1 class="app-font font-3rem">PONG</h1>
    <img class="user-image" src="https://images.squarespace-cdn.com/content/v1/60f1a490a90ed8713c41c36c/1629223610791-LCBJG5451DRKX4WOB4SP/37-design-powers-url-structure.jpeg"/>
    <span class="app-font font-2rem mt-3">{{username}}</span>
    <span class="app-font font-2rem mt-3">{{getRecord()}}</span>
  </div>
  <div class="user-record-container">
    <h1 class="app-font font-2rem">Match History</h1>
    <div *ngFor="let match of matches" class="match-history-container">
      <app-match [match]="match"></app-match>
    </div>
    <div class="page-buttons-container" *ngIf="this.totalPages > 1">
      <button
        class="app-font page-button"
        (click)="previousPage()">
        Prev
      </button>
      <small
        class="app-font font-1rem"
      >
        {{this.page + 1}}
      </small>
      <button
        class="app-font page-button"
        (click)="nextPage()">
        Next
      </button>
    </div>
  </div>
</div>
