<div class="user-container">
  <div class="user-image-container">
    <h1 class="app-font font-3rem">PONG</h1>
    <img class="user-image" src="https://images.squarespace-cdn.com/content/v1/60f1a490a90ed8713c41c36c/1629223610791-LCBJG5451DRKX4WOB4SP/37-design-powers-url-structure.jpeg"/>
    <span class="app-font font-2rem mt-3">{{username}}</span>
    <span class="app-font font-2rem mt-3">W: 21 L: 7</span>
  </div>
  <div class="user-record-container">
    <h1 class="app-font font-2rem">Match History</h1>
    <div class="match-history-container">

    </div>
  </div>
</div>
