<div class="title-container">
  <home-title></home-title>
</div>

<div class="login-container">
  <form (ngSubmit)="onSignUp()" #loginForm="">
    <app-input
      [label]="'Email'"
      [id]="'email'"
      [(value)]="email"
      [type]="'email'"
      [name]="'email'"
      [required]="true">
    </app-input>
    <app-input
      [label]="'Username'"
      [id]="'username'"
      [(value)]="username"
      [type]="'text'"
      [name]="'username'"
      [required]="true">
    </app-input>
    <app-input
      [label]="'Password'"
      [id]="'password'"
      [(value)]="password"
      [type]="'password'"
      [name]="'password'"
      [required]="true">
    </app-input>
    <app-button
      [text]="'Sign Up'" [size]="'2rem'" [type]="'submit'">
    </app-button>
  </form>
  <div class="sign-in-div">
    <p class="login-text">Have an account? <a [routerLink]="['/login']">Login</a></p>
  </div>
</div>
