.top-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.bottom-container {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  font-family: AppFont;
  font-size: 3rem;
  color: white;
  align-self: left;
}
