.test {
  margin: 1rem;
  border: 1px solid white;
  border-radius: 5px;
  padding: 0.5rem;
}

.match-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.player-one-container {

}

.score-container {

}

.player-two-container {

}

.app-text {
  color: white;
  font-family: AppFont;
  margin: 0;
}

.small-text {
  font-size: 1rem;
}

.medium-text {
  font-size: 1.5rem;
}

.large-text {
  font-size: 2rem;
}


