.round-button {
  border-radius: 50%;
  background-color: transparent;
  border: none;
  width: 3rem;
  height: 3rem;
}

.round-button:active {
  transform: scale(0.80);
}

.white {
  color: white;
  cursor: pointer;
}

.white:hover {
  color: #1E90FF;
}
