<div class="title-container">
  <home-title></home-title>
</div>

<div class="login-container">
  <form (ngSubmit)="onLogin()">
    <app-input
      [label]="'Username'"
      [id]="'username'"
      [(value)]="username"
      [type]="'text'"
      [name]="'username'"
      [required]="true">
    </app-input>
    <app-input
      [label]="'Password'"
      [id]="'password'"
      [(value)]="password"
      [type]="'password'"
      [name]="'password'"
      [required]="true">
    </app-input>
    <app-button
      [text]="'Login'" [size]="'2rem'" [type]="'submit'">
    </app-button>
  </form>
  <div class="sign-in-div">
    <p class="login-text">Not registered? <a [routerLink]="['/sign-up']">Create an account</a></p>
  </div>
</div>

